{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "prettier",
        "@typescript-eslint",
        "json5"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "@typescript-eslint/interface-name-prefix": 0,
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/camelcase": 0,
        "@typescript-eslint/ban-ts-comment": 0,
        "no-prototype-builtins": 0,
        "no-async-promise-executor": 0,
        "prettier/prettier": "error",
        // note you must disable the base rule as it can report incorrect errors
        "no-empty-function": "off",
        "@typescript-eslint/no-empty-function": 0
    }
}