body {
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.layout {
  height: 100%;
}

.trigger.anticon {
  color: white;
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.header {
  display: flex;
  align-items: center;
  padding: 0px;
}

.input-path-container {
  padding: 10px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.input-path {
  max-width: 800px;
}

.app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
